{% extends 'configuracoes/base.html' %}

{% block content %}

<div class="main">
  <nav class="breadcrumb" aria-label="breadcrumbs" style="background-color:#ffff">
        <ul>
            <li><a href="/inicial">Início</a></li>
            <li class="is-active"><a href="">Reset Password</a></li>
        </ul>
    </nav>
  <div class="box">
    <center>
      <h2>Reset Password</h2>
    </center>
    <hr>

    <form method="POST" class="form-signin">{% csrf_token %}
      <label>Email:</label>
      <input name="email" class="form-control" placeholder="Email" type="email" id="id_email" required="true">
      <br>
      <div class="field">
        <div class="buttons is-centered">
          <a class="button is-medium is-link is-light is-danger" style="text-align:left;text-decoration:none" href="/inicial">Cancelar</a>
          <button class="button is-medium is-link is-success" type="submit">Enviar email</button>
        </div>
        </div>
      
    </form>
  </div>
</div>
{% endblock %}