{% extends 'configuracoes/base.html' %}

{% block content %}

<div class="main">
  <nav class="breadcrumb" aria-label="breadcrumbs" style="background-color:#ffff">
        <ul>
            <li><a href="/inicial">Início</a></li>
            <li class="is-active"><a href="">Alterar palavra-passe</a></li>
        </ul>
    </nav>
  <div class="box">
    <center>
      <h2>Alterar Password</h2>
    </center>
    <hr>

    <form method="POST" class="form-signin">{% csrf_token %}
      <label>Password antiga:</label>
      <input name="old_password" class="form-control" placeholder="Password antiga" type="password" id="id_old_password"
        required="true">
      <br>
      <label>Password nova:</label>
      <input name="new_password1" class="form-control" placeholder="Password nova" type="password" id="id_new_password1"
        required="true">
      <br>
      <label>Confirmar password:</label>
      <input name="new_password2" class="form-control" placeholder="Confirmar password" type="password"
        id="id_new_password2" required="true">
      <br>
      {% for field in form %}
      {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}
      {% endfor %}

      <div class="field">
        <div class="buttons is-centered">
          <a class="button is-medium is-link is-light is-danger" style="text-align:left;text-decoration:none" href="/inicial">Cancelar</a>
          <button class="button is-medium is-link is-success" style="text-align:right" type="submit">Confirmar</button>
        </div>
      </div>
      
    </form>
  </div>
</div>
{% endblock %}