{% extends 'configuracoes/base.html' %}

{% block content %}

<div class="main">
    <div style="float: left; width: 65%; overflow: hidden; padding: 40px;">

        <center>
            <p><h2><strong>Nova plataforma</strong></h2></p>
            <p><h3>Simples, Intuitivo, Limpo.</h3></p>
        </center>
            <p>A plataforma online do Dia Aberto foi renovada pelos alunos em âmbito do curso de Licenciatura de Engenharia Informática.</p>
        </div>

        <div style="overflow: hidden; padding: 40px;">
            <img style="height: 150px" src="/static/capa.png">
        </div>

        <br>

    <center>
        <img style="height: 90px" src="/static/ualg_logo.png">
    </center>
</div>
{% endblock %}
