{% extends 'configuracoes/base.html' %}

{% block content %}

<div class="main">
    <nav class="breadcrumb" aria-label="breadcrumbs" style="background-color:#ffff">
        <ul>
            <li><a href="/inicial">Início</a></li>
            <li class="is-active"><a href="">Horário transportes</a></li>
        </ul>
    </nav>
    <div class="box">
        <h1 class="title" style="text-align:center">Horário transportes</h1>


        {% if not horario %}
        <form method="POST" id="myForm">
            {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inicio">Início (horas)</label>
                            {{form.inicio}}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="fim">Fim (horas)</label>
                            {{form.fim}}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="periodo">Intervalos de tempo (minutos)</label>
                            {{form.periodo}}
                    </div>
                </div>

                {% if form.errors %}
                <br>
                    <div id="errors">
                        <div class="error_message">
                            {{ form.non_field_errors }}
                            <ul>
                                {% for field in form %}
                                    {% if field.errors %}
                                        <li>{{ field.errors|striptags }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                    <br>
                    <div class="field">
                        <div class="buttons is-centered">
                        <a class="button is-medium is-link is-light is-danger" style="text-align:left" href="../">Cancelar</a>
                        <button class="button is-medium is-link is-success" style="text-align:right" type="submit">Guardar</button>
                        </div>
                    </div>
        </form>
        {% else %}
            {% for h in horario %}
                <div class="row">
                    <div class="row-group col-md-4">
                        <label for="inicio">Início</label>
                            <br>{{h.inicio}} horas
                    </div>
                    <div class="row-group col-md-4">
                        <label for="fim">Fim</label>
                            <br>{{h.fim}} horas
                    </div>
                    <div class="row-group col-md-4">
                        <label for="periodo">Intervalos de tempo</label>
                            <br>{{h.periodo}} minutos
                    </div>
                </div>
            {% endfor %}

            <center>
                <div class="field">
                    <div class="buttons is-centered">
                        <a class="button is-danger modal-button" data-target="#modal" type="button" style="margin-bottom: 14px; margin-right: 20px; text-decoration:none; color: white;"><span class="icon"><i class="icon is-medium fas fa-times-circle"></i></span><span>Apagar</span></a>
                    </div>
                </div>
            </center>
        {% endif %}
    </div>
</div>


<div class="modal" id = "modal">
    <div class="modal-background"></div>
        <div class="modal-card animation-content"><!---->
           <section class="modal-card-body is-titleless">
             <div class="media"><!---->
                <div class="media-content">
                  <p>Tem a certeza que quer eliminar o <b>horário dos transportes</b>? </p>
                  <p> Ao eliminar irá comprometer todos os registos associados a esta configuração como <b>percursos dos transportes e inscrições</b>.</p>
                </div>
              </div>
            </section>
            <footer class="modal-card-foot">
              <a class="button" href="" style="text-align:center;text-decoration:none">Cancelar</a>
                <a class="button is-link is-light is-centered is-danger" style="text-align:center;text-decoration:none" href="./delete">Apagar</a>
            </footer>
          </div>
      </section>
    </div>
  </div>

<div class="modal" id = "modal">
    <div class="modal-background"></div>
        <div class="modal-card animation-content"><!---->
           <section class="modal-card-body is-titleless">
             <div class="media"><!---->
                <div class="media-content">
                    <p>Tem a certeza que quer eliminar o <b>horário dos transportes</b>? </p>
                  <p> Ao eliminar irá comprometer todos os registos associados a esta configuração como <b>percursos dos transportes e inscrições</b>.</p>
                </div>
              </div>
            </section>
            <footer class="modal-card-foot">
              <a class="button" href="" style="text-align:center;text-decoration:none">Cancelar</a>
                <a class="button is-link is-light is-centered is-danger" style="text-align:center;text-decoration:none" href="./delete">Apagar</a>
            </footer>
          </div>
      </section>
    </div>
  </div>
  
<script>

    $('btn.btnDelete').on('click', function (e) {
        e.preventDefault();
        var id = $(this).closest('tr').data('id');
        $('#myModal').data('id', id).modal('show');
    });

    $('#btnDelteYes').click(function () {
        var id = $('#myModal').data('id');
        $('[data-id=' + id + ']').remove();
        $('#myModal').modal('hide');
    });


       $(".modal-button {{co.id.id}}").click(function() {
          var target = $(this).data("target");
          $("html").addClass("is-clipped");
          $(target).addClass("is-active");
       });

       $(".modal-close").click(function() {
          $("html").removeClass("is-clipped");
          $(this).parent().removeClass("is-active");
       });

    </script>

{% endblock %}