{% extends 'configuracoes/base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="side">
  <aside class="menu">
    <p class="menu-label">
    <h5>FILTROS ATIVIDADES</h5>
    </p>

    <form method="get">
      <div class="field">
        <p class="control has-icons-left">
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
            {% render_field atividades.form.Nome_actividade class="input" id="myInput" type="search" placeholder="Nome da Atividade" %}
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
            {% render_field atividades.form.Estado class="input" id="myInput" type="search" placeholder="Estado da Atividade" %}
        </p>
      </div>
      {% if user.is_authenticated and user.TipoUtilizador == 'Coordenador' %}

      <div class="field">
        <p class="control has-icons-left">
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
            {% render_field atividades.form.Criador class="input" id="myInput" type="search"  %}
        </p>
      </div>

      {% endif %}
     
      <br>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Procurar
      </button>
    </form>
  </aside>
</div>
<div class="main">
  <nav class="breadcrumb" aria-label="breadcrumbs" style="background-color:#ffff">
        <ul>
            <li><a href="/inicial">Início</a></li>
            <li class="is-active"><a href="">Atividades</a></li>
        </ul>
    </nav>
  {% if user.is_authenticated and user.TipoUtilizador == 'Professor Universitario' %}
  <a class="button is-success" href="./createActividade">
    <span class="icon"><i class="fas fa-plus"></i>
    </span>
    <span>Adicionar Actividade</span></a>
    {% endif %}
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Submetido a</th>
          <th>Estado</th>
          {% if user.is_authenticated and user.TipoUtilizador == 'Coordenador' or user.is_authenticated and user.TipoUtilizador == 'Administrador' %}
          <th>Criador</th>
          
          {% endif %}
          {% if user.is_authenticated and user.TipoUtilizador == 'Coordenador' or user.is_authenticated and user.TipoUtilizador == 'Professor Universitario' %}
          <th>Ações</th>
          {% endif %}
        </tr>
        {% for act in atividades.qs %}
        <tr>
          <th> <a href="./showatividade/{{act.id}}" , class="hoverable" style="color:blue">{{act.Nome_actividade}}</a></th>
          <th>{{act.Submetido}}</th>
          <th>{{act.Estado}}</th>
          {% if user.is_authenticated and user.TipoUtilizador == 'Coordenador' or user.is_authenticated and user.TipoUtilizador == 'Administrador' %}
          <th>{{act.Criador}}</th>
          {% endif %}
          {% if user.is_authenticated and user.TipoUtilizador == 'Professor Universitario' %}
          <th>
          {% if act.Estado == "Pendente" or act.Estado == "Rejeitada" %}
            <a href="atividades/{{act.id}}/update" class="hoverable">
            <i class="icon is-medium fas fa-edit" style="color:#209cee"></i> <!-- update-->
            </a>
            <a class="modal-button {{act.id}}" data-target="#modal-{{act.id}}">
              <i class="icon is-medium fas fa-times-circle" style="color: #ff3860;"></i>
          {% endif %}
              <!----></a>
      
            <div id="modal-{{act.id}}" class="modal">
              <div class="modal-background"></div>
              <div class="modal-card">
                <section class="modal-card-body">
                  <div class="media">
                    <!---->
                    <div class="media-content">
                      <p>Tem a certeza que quer eliminar o utilizador?</p>
                    </div>
                  </div>
                </section>
                <footer class="modal-card-foot">
                  <a class="button" href="" style="text-align:center;text-decoration:none">Cancelar</a>
                  <a class="button is-link is-light is-centered is-danger" style="text-align:center;text-decoration:none"
                    href="delete_atividade/{{act.id}}">Apagar</a>
                </footer>
                </section>
              </div>
              <button class="modal-close is-large" aria-label="close"></button>
            </div>
          </th> <!-- delete-->
          {% endif %}
          {% if user.is_authenticated and user.TipoUtilizador == 'Coordenador' %}
          {% if act.Estado == "Pendente" %}
          <th><a class="button is-success modal-button {{act.id}}" data-target="#modal-{{act.id}}" type="button" style="color: white;">
            <span class="icon"><i class="icon is-medium fas fa-check"></i>
            </span>
            <span>Aceitar</span> <!----></a>

            <div id="modal-{{act.id}}" class="modal">
              <div class="modal-background"></div>
              <div class="modal-card">
                <section class="modal-card-body">
                  <div class="media">
                    <!---->
                    <div class="media-content">
                      <p>Tem a certeza que quer aceitar a atividade? Se aceitar não poderá voltar atrás.</p>
                    </div>
                  </div>
                </section>
                <footer class="modal-card-foot">
                  <a class="button" href="" style="text-align:center;text-decoration:none">Cancelar</a>
                  <a class="button is-link is-light is-centered is-success" style="text-align:center;text-decoration:none"
                    href="{% url 'atividades:validar' pk=act.id %}">Aceitar</a>
                </footer>
                </section>
              </div>
              <button class="modal-close is-large" aria-label="close"></button>
            </div> <!-- delete-->

          <a class="button is-danger modal-button {{act.id}}" data-target="#modal1-{{act.id}}" type="button" style="color: white;">
            <span class="icon"><i class="icon is-small fas fa-times-circle"></i>
            </span>
            <span>Rejeitar</span> <!----></a>

            <div id="modal1-{{act.id}}" class="modal">
              <div class="modal-background"></div>
              <div class="modal-card">
                <section class="modal-card-body">
                  <div class="media">
                    <!---->
                    <div class="media-content">
                      <p>Tem a certeza que quer rejeitar a atividade? Se rejeitar não poderá voltar atrás.</p>
                    </div>
                  </div>
                </section>
                <footer class="modal-card-foot">
                  <a class="button" href="" style="text-align:center;text-decoration:none">Cancelar</a>
                  <a class="button is-link is-light is-centered is-danger" style="text-align:center;text-decoration:none"
                    href="{% url 'atividades:rejeitar' pk=act.id %}">Rejeitar</a>
                </footer>
                </section>
              </div>
              <button class="modal-close is-large" aria-label="close"></button>
            </div></th> <!-- delete-->
            {% else %}
          {% endif %}
          {% endif %}
          </th>
        </tr>
      </thead>
      {% endfor %}
    </table>
  </div>
  </div>

  <script>


    $('btn.btnDelete').on('click', function (e) {
      e.preventDefault();
      var id = $(this).closest('tr').data('id');
      $('#myModal').data('id', id).modal('show');
    });
  
    $('#btnDelteYes').click(function () {
      var id = $('#myModal').data('id');
      $('[data-id=' + id + ']').remove();
      $('#myModal').modal('hide');
    });
  
  
    $(".modal-button {{co.id.id}}").click(function () {
      var target = $(this).data("target");
      $("html").addClass("is-clipped");
      $(target).addClass("is-active");
    });
  
    $(".modal-close").click(function () {
      $("html").removeClass("is-clipped");
      $(this).parent().removeClass("is-active");
    });
  
  </script>
  {% endblock %}